<p id="notice"><%= notice %></p>

<p>
  <%= image_tag url_for(@item.photo) %> </br>
  <%= link_to @item.photo.filename, rails_blob_path(@item.photo, disposition: "attachment") %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
